/*
.ui.container { padding-top: 56px; }
.ui.modal.w580 { width: 580px; margin-left: -290px; }
.ui.modal>.content { overflow: hidden; }
.ui.modal.w580 .ui.attached.warning.message, .ui.modal.w580 .ui.warning.message { margin: 0; box-shadow: 0 0 0; }
*/
[v-cloak] {
	display: none;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 45%
	}
	50% {
		background-position: 90% 45%
	}
	100% {
		background-position: 0% 45%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 45%
	}
	50% {
		background-position: 90% 45%
	}
	100% {
		background-position: 0% 45%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 45%
	}
	50% {
		background-position: 90% 45%
	}
	100% {
		background-position: 0% 45%
	}
}

@-webkit-keyframes pulse-shadow--onboarding-collection {0%{-webkit-box-shadow:0 0;box-shadow:0 0}20%{-webkit-box-shadow:0 0 5px 10px rgba(255,255,255,0);box-shadow:0 0 5px 10px rgba(255,255,255,0)}50%{-webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);box-shadow:0 0 0 0 rgba(255,255,255,0)}100%{-webkit-box-shadow:0 0;box-shadow:0 0}}
@keyframes pulse-shadow--onboarding-collection{0%{-webkit-box-shadow:0 0;box-shadow:0 0}20%{-webkit-box-shadow:0 0 5px 10px rgba(255,255,255,0);box-shadow:0 0 5px 10px rgba(255,255,255,0)}50%{-webkit-box-shadow:0 0 0 0 rgba(255,255,255,0);box-shadow:0 0 0 0 rgba(255,255,255,0)}100%{-webkit-box-shadow:0 0;box-shadow:0 0}}

body { color: #2F2F2F; font-size: .95rem; }
body , h1, h2, h3, h4, h5 { font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif; -webkit-font-smoothing: antialiased; }
[draggable="true"] { user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }
.iconfont { font-size: 12px; margin-right: 4px; }
.button.is-medium { font-size: 1.05rem!important; }
.mt3r { margin-top: 3rem; }
/**/
.title { font-weight: 400; }
.loading { text-align: center; }
.hide { display: none; }
.clearfix:after, .clearfix:before, .row:after, .row:before { content: ""; display: table; clear: both; }
section {
    padding: 1.5rem
}

blockquote { padding: 15px 10px 15px 20px; border-left: 3px solid #333; -webkit-margin-start: 5px; -webkit-margin-end: 5px; }
.toasted {
	padding: 15px 25px!important;
	border-radius: 50rem!important;
}

img.avatar { border-radius: 100rem; }
.field:not(:last-child) {
	margin-bottom: 1.5rem;
}

.avatar.is-28x28 {
    width: 28px;
    height: 28px;
}

a {
    color: #1a1a1a
}

.box {
	padding: 1rem;
    border: 1px solid #e5e5e5;
    box-shadow: none;
	border-radius: 3px
}

/*main*/

main { width: 100%; min-height: 600px; }
main .container { max-width: 640px; }
footer.footer { margin: 3rem 0 0; padding: 3rem 1.5rem; font-size: small; }
footer .changelog { margin-left: 10px; }

/*404*/
.page-404 { background: none; overflow: hidden; }
.page-404 .video-bg { position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; z-index: -2; }
.page-404 .video-bg video { position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; }
.page-404 .video-mask { position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; z-index: -1; background: rgba(0,0,0,.3); }
.page-404 .section { margin-top: 20%; text-align: center; }
.page-404 .label, .page-404 .value { color: #FFF!important; text-shadow: 0 0 3px rgba(0,0,0,.35) } 
.page-404 .btns { margin-top: 20px; }

/* page-user */
.user-header { position: relative; width: 100%!important; height: 300px; overflow: hidden; }
.user-header .mask { position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 300px; background: rgba(0,0,0,.45); z-index: 2 }
.user-header .banner { position: absolute; left: 0; right: 0; top: 0; width: 100%!important; height: 300px; margin: 0!important; background-repeat: no-repeat; background-position: center 65%; background-size: cover; z-index: 1; }
.user-header .profile { position: relative; margin: 76px auto 0; z-index: 5 }
.user-header .profile img.avatar { padding: 4px; background: #FFF; }
.user-header .profile .username { position: absolute; left: 180px; top: 20px; font-size: 2.3em; color: #FFF; z-index: 5 }

#page-user-home .empty, #page-user-home .abaned { line-height: 7em; font-size: 2.3em!important; text-align: center; }

.user-articles { margin-top: 20px; }
.user-articles article { float: left; padding: 15px; }



.profile-avatar-editing { position: relative; }
.profile-avatar-editing .profile-avatar-overlay { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: rgba(0,0,0,0); border: none; border-radius: 500em!important; box-shadow: none; opacity: 0; transition: all .15s ease-in-out; z-index: 3; }
.profile-avatar-editing:hover .profile-avatar-overlay { background: rgba(0,0,0,.65); box-shadow: inset 0 0 0 4px rgba(255,255,255,.5) !important; opacity: 1 }
.profile-avatar-editing .profile-avatar-select { position: absolute; left: 0; bottom: 0; width: 100%; height: 100%; background: none; border: none; z-index: 4; opacity: 0; transition: all .15s ease-in-out; }
.profile-avatar-editing:hover .profile-avatar-select { opacity: 1; }
.profile-avatar-editing .profile-avatar-select button { width: 100%!important; height: 100%; padding: 0; color: #FFF; background: none!important; border: none!important; box-shadow: none!important;  outline: none; cursor: pointer; }

.profile-avatar-editing .profile-avatar-select button .pick { color: #FFF!important; }
.profile-avatar-editing .profile-avatar-select button .pick .icon { font-size: 2.65em; margin-bottom: 5px!important; }

.modal-avatar-picker {
	display: flex;
	justify-content: center;
    align-items: center;
}
.profile-avatar-crop { width: 360px; margin: 40px auto; overflow: hidden; }
.profile-avatar-crop h2 {
	position: fixed;
    top: 2rem;
    left: 0;
    width: 100%;
    text-align: center;
}
.profile-avatar-crop h2 .crop , .profile-avatar-crop h2 .upload , .profile-avatar-crop.show_cropViewport h2 .choose , .profile-avatar-crop.show_result h2 .choose , .profile-avatar-crop.show_result h2 .crop {
	display: none;
}
.profile-avatar-crop.show_cropViewport h2 .crop , .profile-avatar-crop.show_result h2 .upload {
	display: block;
}
.profile-avatar-crop .grid { width: 1080px; display: flex; align-items: center; transition: all .15s ease; }
.profile-avatar-crop.show_cropViewport .grid { margin-left: -360px; }
.profile-avatar-crop.show_result .grid { margin-left: -720px; }
.profile-avatar-crop .crop-select, .profile-avatar-crop .crop-viewport, .profile-avatar-crop .crop-result {
	width: 360px;
	flex-wrap: nowrap;
	text-align: center
}
.crop-result img {
	margin-bottom: 2rem;
}
.profile-avatar-crop .crop-select button {
	width: 210px!important; height: 210px; padding: 0; color: #FFF; background: none!important; border: 3px dashed #E5E5E5 !important; box-shadow: none!important; outline: none; cursor: pointer; border-radius: 1rem;
}

.profile-avatar-crop .crop-select button .iconfont {
	font-size: 3rem
}


/*setting-account*/
.setting-account-section .notification {
	border: 2px solid #e5e5e5;
	background-color: #fafafa;
	text-align: center
}


