
/* 文章列表 */

.card-article {
	border-radius: 3px
}

.card-article .card-header {
	box-shadow: none
}

.card-article .card-header-title {
	padding: .75rem 1.5rem 0;
}

.card-article .card-header-title span {
	margin-right: 10px;
	font-size: small
}

.card-article .card-header-title .author.avatar {
	width: 28px;
	height: 28px;
}

.card-article time {
	font-size: smaller;
	color: $desc
}

.card-article .card-content .content {
	cursor: pointer;
}

main.article header { margin-bottom: 3.5rem; }
main.article header .author { min-height: 48px; }
main.article header p.date { font-size: .7em; color: #A7A7A7 }
main.article header h1 { margin-top: 1rem; font-weight: normal; line-height: inherit; }

main.article figure {
	text-align: center
}
main.article .image img { 
	display: inline-block;
	width: auto;
	max-width: 100%;
}

.article-content:first-child  { min-height: 650px; }
.article-content p { font-size: 1.15em; margin: 3rem 0 0; line-height: 1.8; }
.article-content p:first { margin-top: 0; }
.article-content figure { text-align: center; margin: 3.5rem 0 0; }
.article-content figure:first { margin-top: 0; }
.article-content figure img { -o-object-fit: cover; object-fit: cover }
.article-content blockquote { margin-left: -23px; }
.article-content a { text-decoration: underline; }
.article-content figcaption { margin: .8rem 0; line-height: 1em;  font-size: .85em; color: #B5B5B5; }

main.article .article-editor { margin: 0 3rem 3.5rem; }
main.article .comments:empty::before { content: "(" attr(title) ")"; width: 100%; display: block; text-align: center; font-size: small; color: #bbbbbb; }
main.article .article-content { margin-bottom: 4rem; min-height: 260px; }
main.article .article-detail { margin-bottom: 4rem; }